@charset "utf-8";
/* CSS Document */
.login{margin:10px 0px;}
	.login_main{ padding-top:20px;}
/*		.login_left { width:430px; margin: 50px auto;}
		.login_list { width:400px; margin-top:20px;}
		.login_list p { margin:5px 0 0 71px; color:#999999;} 
		.login_list p span { color:#F00;} 
			.login_list span { display:block; float:left; margin-right:5px; line-height:32px;}
			.login_list_xz { font-size:14px; font-family:"arial"; color:#666666; width:76px; text-align:right; line-height:36px;}
			.login_list_xz s { color:#F00; padding-right:3px; text-decoration:none;}
			.login_list_xx { width:221px; height:21px; padding:5px 0 0 5px;}
			.login_list_xv { width:225px; height:27px; padding:5px 0 0 5px;}
			.login_list_xx input { width:221px; height:25px; *height:20px; border:1px solid #bbb; padding-left:5px;*padding-top:5px; color:#444; }
			.login_list_xc {margin-left:10px;}
			.login_list_xc a { color:#F36; }
			.login_list_xc img { margin-top: 10px; width:14px; height:14px;}
			.login_list .account_error {padding: 5px;width: 200px;background: #FFE8E8;border: 1px solid #DB9A9A;margin-top: 10px;margin-left: 90px;color: red;}*/
			
	/* --------------- */			
			.login_left { width:500px;  margin:0 auto;}
			.login_list { width:500px; margin-top:10px;}
			.login_list p { margin:5px 0 0 71px; color:#999999;} 
			.login_list p span { color:#F00;} 
			.login_list span { display:block; float:left; line-height:34px; padding-top:15px;}
			.login_list span a{ color:#d30000; text-decoration:underline;}
			.login_list_xz { font-size:14px; font-family:"arial"; color:#666666; width:100px; text-align:right; line-height:36px;}
			.login_list_xz s { color:#d30000; padding-right:3px; text-decoration:none;}
			.login_list_xx { width:314px; height:36px; padding:5px 0 0 5px; line-height:36px;}
			.login_list_xv { width:225px; height:27px; padding:5px 0 0 5px;}
			.login_list_xx input { width:314px; height:34px; *height:34px; border:1px solid #bbb; padding-left:5px; color:#444; line-height:34px;}
			.login_list_xx3 { width:121px; height:36px; padding:5px 0 0 5px; line-height:36px;}
			.login_list_xx3 input { width:121px; height:34px; *height:34px; border:1px solid #bbb; padding-left:5px; color:#444; line-height:34px; }
			.login_list_xc {margin-left:10px; color:#666; font-size:12px;}
			.login_list_xc a { color:#d30000; text-decoration:underline;}
			.login_list_xc img { margin-top: 10px; width:14px; height:14px;}
			.login_list .account_error {padding: 5px;width: 200px;background: #FFE8E8;border: 1px solid #DB9A9A;margin-top: 10px;margin-left: 105px;color: red;}
			.list_tips {padding-top:8px;color: #ADADAD;margin-left:112px;}
			.login_ckb{ margin:20px 0 20px 101px;}
			.login_ckb span{ color:#666;}
			.login_ckb span a{ color:#d30000;}
		    .botton { margin:20px 0 20px 106px;}
		    .botton span { display:block;  margin-right:5px;}
				.botton .botton_xz { margin-left:60px;}
				.botton .botton_xz input { width:97px; height:35px; background:url("../images/user/login_button.gif") no-repeat; border:none; cursor: pointer;}
				.botton .botton_xb {}
				.botton .botton_xb input {cursor: pointer; width:118px; height:35px; background:url("../images/user/login_zc.gif") no-repeat; border:none;}
				.botton .botton_xx { margin-top:15px;}
				.botton .botton_xx a { color:#ff6600; }
			
	/* --------------- */		

/*			.list_tips {padding-top: 5px;color: #ADADAD;margin-left: 90px;}*/
			.login .account_notice {color: red;background: #FFE8E8;line-height: 22px;border: 1px solid #DB9A9A;margin: 10px;padding: 5px;font-weight: bold;}
			.login .account_notice span {padding-right:10px; vertical-align: sub;background: url("../images/user/account_no.gif") no-repeat;width: 14px;height: 14px;display: inline-block;}

 	.login_more { width:500px;}
			.login_more .botton2 { margin:20px 0px 20px 22px; padding-left:85px;}
			.login_more .botton2 span { display:block;}
				.botton2 .botton_xz { margin-left:0px;}
				.botton2 .botton_xz input { width:97px; height:35px; background:url("../images/user/login_button.gif") no-repeat; border:none; cursor: pointer;}
				.botton2 .botton_xb { margin-left:0px; }
				.botton2 .botton_xb input {cursor: pointer; width:118px; height:35px; background:url("../images/user/login_zc.gif") no-repeat; border:none;}
				.botton2 .botton_xx {width: 250px;line-height: 24px;}
				.botton2 .botton_xx a { color:#ff6600; }
				
			.login_more p { color:#666666; line-height:16px; margin-left:105px;}
			.login_more_vv { margin:0 0 50px 105px;}
			.login_more_vv span { display:block; float:left; margin:8px 8px 0 0;; border-right:1px solid #CCC; color:#005AA0;}
			
			.login_more_vv span a { display:block; padding:1px 5px 1px 18px; color:#9c9c9c;}
			.login_more_vv span .login_qq { background:url("../images/user/login_qq.gif") no-repeat;}
			.login_more_vv span .login_zfb { background:url("../images/user/login_zfb.gif") no-repeat;}
			.login_more_vv span .login_xl  { background:url("../images/user/login_xl.gif") no-repeat;}
			.login_more_vv span .login_360 { background:url("../images/user/login_360.gif") no-repeat;}
			.login_more_vv span .login_tuan { background:url("../images/user/login_tuan.gif") no-repeat;}
			.login_more_vv .login_tt { border:none;}
			
	.login_right { float:right; width:426px; height:351px;}
	.registration_right { float:left; width:421px; height:641px; background:url("../images/user/login_bg.jpg") no-repeat;}
	.registration_gg { margin-top:20px;border-top:1px dotted #CCC;}
	#readme { padding:20px 0 0 101px; }
	#readme span { display:block; float:left; line-height:18px; color:#666666;}
	.agreement a { color:#d30000;}
	.agreement_main { padding:20px 0 0 20px;}

/* --------------- */

.left{width:160px;float:left;}
	.leftmenu_ttl{ width:148px; height:33px; background:url("../images/user/left_menu_a.gif") no-repeat; line-height:33px; padding-left:12px; font-size:14px; font-weight:bold; color:#FFF;} 
	#leftmenu{ border:1px solid #ddd; border-top:none;}

	.sub_ttl{height:31px;line-height:31px; border-top:1px solid #dddddd;  border-bottom:1px solid #dddddd; padding:1px;}
		.st_title{background:#f1f1f1;font-size:14px; font-weight:bold; padding-left:10px; position:relative;}
		.st_title span { position:absolute; right:10px; top:7px; display:block;width:15px; height:15px; float:right; background:url("../images/user/left_menu_b.png") no-repeat; }

	#leftmenu ul{ padding:5px 0px;}
	#leftmenu li { height:25px;line-height:25px; padding-left:20px;}
	#leftmenu li a { color:#333;}
    #leftmenu li.on{background-color: #a52a2a;}
	#leftmenu li.on a { color:#f5f5f5; font-weight:bold;}
	
/* --------------- */
.user_main{ width:1010px; float:right;}
.main_ttl{ border:1px solid #ddd; background:#f5f5f5;height:30px; color:#dd0000; font-size:14px; font-weight:bold; line-height:30px; padding-left:10px;}
.main_form{ border:1px solid #ddd; border-top:none; padding:10px 20px; margin-bottom:10px;position: relative;}

#other_slide{border:1px solid #ebd7cd; background:#fefaf4 url("../images/user/hot.gif") no-repeat; position:relative; overflow:hidden; padding-bottom:10px; margin-bottom:10px;}
	#other_slide .ttl{height:32px; line-height:32px; padding-left:45px; font-size:14px; font-weight:bold; color:#990000; margin-bottom:5px;}

	#prev{ float:left; position:absolute; left:10px; top:43px;}
	#prev a{ display:block; width:32px; height:45px; background:url("../images/user/form_left_arrow.gif") no-repeat;}
	#next{ float:left; position:absolute; right:10px; top:43px;}
	#next a{ display:block; width:32px; height:45px; background:url("../images/user/form_right_arrow.gif") no-repeat;}

	#slide_content{overflow:hidden; position:relative; margin:0px 50px;height:65px;}
		#slide_content ul{ position:absolute; left:0; top:0; width:1800px;}
		#slide_content li{ float:left; width:330px;line-height:20px; padding:0px 10px;}
		#slide_content img{padding:1px;border:1px solid #fde1d4;width:90px;height:60px; float:left; margin-right:10px; display:inline;}
		#slide_content p{ display:block; float:left;}


/*order开始*/
	.no_data {color:#BFBFBF;text-align: center;letter-spacing: 2px;}
	#order_tab { border-bottom:2px solid #fc0000; overflow:hidden;}
		#order_tab li { float:left; height:25px; line-height:25px; padding:0 10px; margin-right:2px; border:1px solid #dddddd; border-bottom:none;}
		#order_tab li a { text-decoration:none;} 
		#order_tab .on { height:26px; background:url("../images/user/tab_bg.gif") bottom repeat-x; border:1px solid #ffb1b1; border-bottom:none; color:dd0000; font-weight:bold;}
		#order_tab .on a { color:#dc2756;}

	.order_list{ margin-bottom:10px;}
	.order_list table{ border:none; width:100%;}			
	.order_list td{ padding:0px 5px;}
	.order_list td.a{width:8%; text-align:center;}
	.order_list td.b{width:40%;}
	.order_list td.c{width:10%; text-align:center;}
	.order_list td.d{width:15%; text-align:center;}
	.order_list td.e{width:10%; text-align:center;}
	.order_list td.f{width:10%; text-align:center;}
	
	.order_list .ttl { height:32px; background:url("../images/user/form_02.gif") repeat-x; line-height:32px; border:1px solid #ddd; border-bottom:none;}
	.order_list .content{ background:#ddd;}
	.order_list .content td{ background:#fff; padding:5px 5px; line-height:18px;}
	.order_list .content td span{ color:#aaa;}
	.order_list .content td img{ width:120px; height:80px; padding:1px; border:1px solid #eee;}
	.order_list .content a{ color:#005ea7; padding:0px 3px}
	.order_list .content dl{ overflow:hidden; padding:5px 10px;}
	.order_list .content dt{ float:left;}
	.order_list .content dd{ float:left; padding-left:10px;}
		.order_list .content dd p.biz{ color:#999;}
		.order_list .content dd p.price{ color:#990000;}
	
	.order_list	.notice { line-height:30px; text-align:right;}
	.order_list	.notice span { color:#ff0000;}
	
	.order_status{ margin-bottom:10px;border:1px solid #ebd7cd; background:#fefaf4; padding:10px;}
	.order_detail{ margin-bottom:10px;}
	.order_detail table{ border:none; width:100%;}			
	.order_detail td{ padding:0px 5px;}
	.order_detail td.a{width:8%; text-align:center;}
	.order_detail td.b{width:50%;}
	.order_detail td.c{width:10%; text-align:center;}
	.order_detail td.d{width:10%; text-align:center;}
	.order_detail td.e{width:10%; text-align:center;}
	.order_detail td.f{width:12%; text-align:center;}
	.order_detail .ttl { height:32px; background:url("../images/user/form_02.gif") repeat-x; line-height:32px; border:1px solid #ddd; border-bottom:none;}
	.order_detail .content{ background:#ddd;}
	.order_detail .content td{ background:#fff; padding:5px 5px; line-height:18px;}
	.order_detail .content td span{ color:#aaa;}
	.order_detail .content td img{ width:120px; height:80px; padding:1px; border:1px solid #eee;}
	.order_detail .content a{ color:#005ea7; padding:0px 3px}
	.order_detail .content dl{ overflow:hidden; padding:5px 10px;}
	.order_detail .content dt{ float:left;}
	.order_detail .content dd{ float:left; padding-left:10px;}
		.order_detail .content dd p.biz{ color:#999;}
		.order_detail .content dd p.price{ color:#990000;}

/*order结束*/		


/*coupon开始*/
	.coupon_active{ margin-bottom:10px; border:1px solid #ebd7cd; background:#fefaf4; padding:5px 10px; height:30px; line-height:30px;}
		.coupon_active input{ border:1px solid #ddd; background:#fff; font-size:12px; margin-right:10px; height:20px; line-height:20px;}
		.coupon_active input.active_btn{ border:1px solid #9e0000; background:#e10000; color:#fff;}
	
	.coupon_list{ margin-bottom:10px;}
	.coupon_list table{ border:none; width:100%;}			
	.coupon_list td{ padding:0px 5px;}
	.coupon_list td.a{width:70%;}
	.coupon_list td.b{width:20%; text-align:center;}
	.coupon_list td.c{width:10%; text-align:center;}
	
	.coupon_list .ttl { height:32px; background:url("../images/user/form_02.gif") repeat-x; line-height:32px; border:1px solid #ddd; border-bottom:none;}
	.coupon_list .content{ background:#ddd;}
	.coupon_list .content td{ background:#fff; padding:5px 5px; line-height:18px;}
	.coupon_list .content td span{ color:#aaa;}
	.coupon_list .content a{ color:#005ea7; padding:0px 3px}
	
	.coupon_list .notice { line-height:30px; text-align:right;}
	.coupon_list .notice span { color:#ff0000;}

/*coupon结束*/	


/*fav开始*/
	.fav_list{ margin-bottom:10px;}
	.fav_list table{ border:none; width:100%;}			
	.fav_list td{ padding:0px 5px;}
	.fav_list td.a{width:76%;}
	.fav_list td.b{width:8%; text-align:center;}
	.fav_list td.c{width:8%; text-align:center;}
	.fav_list td.d{width:8%; text-align:center;}
	
	.fav_list .ttl { height:32px; background:url("../images/user/form_02.gif") repeat-x; line-height:32px; border:1px solid #ddd; border-bottom:none;}
	.fav_list .content{ background:#ddd;}
	.fav_list .content td{ background:#fff; padding:5px 5px; line-height:18px;}
	.fav_list .content td span{ color:#aaa;}
	.fav_list .content a{ color:#005ea7; padding:0px 3px}
	
	.fav_list .notice { line-height:30px; text-align:right;}
	.fav_list .notice span { color:#ff0000;}

/*fav结束*/	

/*cash开始*/
	.cash_list{ margin-bottom:10px;}
	.cash_list table{ border:none; width:100%;}			
	.cash_list td{ padding:0px 5px;}
	.cash_list td.a{width:40%;}
	.cash_list td.b{width:20%; text-align:center;}
	.cash_list td.c{width:20%; text-align:center;}
	.cash_list td.d{width:20%; text-align:center;}
	
	.cash_list .ttl { height:32px; background:url("../images/user/form_02.gif") repeat-x; line-height:32px; border:1px solid #ddd; border-bottom:none;}
	.cash_list .content{ background:#ddd;}
	.cash_list .content td{ background:#fff; padding:5px 5px; line-height:18px;}
	.cash_list .content td span{ color:#aaa;}
	.cash_list .content a{ color:#005ea7; padding:0px 3px}
	
	.cash_list .notice { line-height:30px; text-align:right;}
	.cash_list .notice span { color:#ff0000;}

/*cash结束*/

/*refund开始*/	

.refund_content { margin-top:10px; padding:20px; border:1px solid #e7cec1;}
	.refund_basic { padding:0 20px 20px 20px; background:url("../images/user/refund_dian.gif") repeat-x bottom;}
	.refund_basic1 { padding:0 20px 20px 20px;}
	
	.refund_number span { display:block; float:left; line-height:20px; margin-right:3px;}
	.refund_number .number { display:block; font-weight:bold; text-align:right; width:90px;}
	.refund_number span input { width:132px; height:19px; border:1px solid #7f9db9;}
	
	.refund_number1 { margin-top:20px;}
	.refund_number1 span { display:block; float:left; line-height:20px; margin-right:3px;}
	.refund_number1 .number { display:block; font-weight:bold; text-align:right; width:90px;}
	.refund_number1 span input { width:132px; height:19px; border:1px solid #7f9db9;}
	
	.refund_number2 { margin-top:20px;}
	.refund_number2 span { display:block; float:left; line-height:20px; margin-right:3px;}
	.refund_number2 .number { display:block; font-weight:bold; text-align:right; width:90px;}
	.refund_number2 span input { width:132px; height:19px; border:1px solid #7f9db9;}
	
	.refund_list { float:left;}
	.refund_list ul li { line-height:20px;}
	.refund_list ul li input { width:12px; height:12px;}
	
	.refund_number2 .why { display:block; font-weight:bold; text-align:right; width:90px; padding:42px 0;}
	.refund_number2 span textarea { width:450px; height:100px; border:1px solid #7f9db9;}
	
	.refund_number3 { margin:10px 0 15px 0;}
	.refund_number3 span { display:block; float:left; line-height:20px; margin-right:3px;}
	.refund_number3 .number { display:block; font-weight:bold; text-align:right; width:90px;}
	.refund_number3 span input { width:132px; height:19px; border:1px solid #7f9db9;}
	
	.refund_tj input { width:90px; height:29px; background:url("../images/user/refund_yes.gif") no-repeat; border:none; margin-left:92px;}


/*refund结束*/


/*reecord开始*/

.record { height:32px; background:url("../images/user/form_02.gif") repeat-x; line-height:32px; border-bottom:1px solid #EBEBEB;}
	.record ul li { float:left; text-align:center; color:#333;}
			.record ul .qa { width:20px; height:32px; background:url("../images/user/form_02.gif") repeat-x; }
			.record ul .qs { width:140px;}
			.record ul .qd { width:160px;}
			.record ul .qf { width:160px;}
			.record ul .qg { width:160px;}
			.record ul .qh { width:160px;}
			.record ul .qj { width:160px;}
			
			
	.record_list ul li { float:left; text-align:center; color:#be6f1b; border-bottom:1px solid #EBEBEB;  border-left:1px solid #EBEBEB; line-height:60px;}
			.record_list ul .qk { width:19px; border-left:none;}
			.record_list ul .qs { width:164px; height:60px;}
			.record_list ul .qs img { margin-top:10px;}
			.record_list ul .qd { width:116px;}
			.record_list ul .qf { width:115px;}
			.record_list ul .qg { width:148px;}
			.record_list ul .qh { width:131px; color:#be6f1b; font-weight:bold; text-decoration:underline;}
			.record_list ul .qj { width:112px;}
			.record_list ul .ql { width:131px; color:#00b22e; font-weight:bold; text-decoration:underline;}
			
	.form_list_s { height:32px; background:url("../images/user/form_02.gif") repeat-x; border-top:1px solid #ececec; border-top-bottom:1px solid #ececec; border-top:none;}
	
	.form_list_v { line-height:30px; text-align:right; padding-right:10px;}
	.form_list_v span { color:#ff0000;}
			
			

/*record结束*/


/*receipt开始*/

.receipt { margin-top:20px;}
	.receipt_a { width:600px; margin:0 auto;}
	.receipt_a span { display:block; float:left; margin-right:5px; line-height:32px;}
	.receipt_name { width:100px; text-align:right; color:#666;}
	.receipt_a span input { width:335px; height:30px;*height:30px; padding:0 5px; border:1px solid #ddd; color:#444; margin-bottom:10px; line-height:30px;} 
	.receipt_a span select{ line-height:30px; margin-top:7px;}
	.receipt_a span textarea { width:335px; height:80px; border:1px solid #ddd; margin:6px 0 10px 0; padding:6px;}
	.receipt_xing { color:#F00;}
	.receipt_ever { color:#808080;}
	
	.receipt_a span .postal { width:60px; height:30px;  border:1px solid #ddd;}
	.receipt_a span .postal01 { width:120px; height:30px;  border:1px solid #ddd;}
	.receipt_a .checkbox { width:14px; height:14px; margin:0; padding:0; margin-top:5px;}
	
	.receipt_add { margin:20px 0 40px 290px;}
	.receipt_add input { width:90px; height:28px; background:url("../images/user/receipt_button.gif") no-repeat; border:none;}
	.receipt input { width:90px; height:28px; border:none;}
	.receipt_preser { margin:0 10px; height:30px;  color:#ff9900; font-weight:bold; border:1px solid #ececec; line-height:30px; text-align:center; margin-bottom:10px;}
	
	.receipt_all { margin:0 10px; border:1px solid #a2cbff;}
	
	.receipt_title {}
	.receipt_title .adress { border-top:1px solid #aec7e5;}
	.receipt_title ul li { float:left; padding:8px 0; text-align:center;}
	.receipt_title ul .vz { width:80px;}
	.receipt_title ul .vx { width:180px;}
	.receipt_title ul .vc { width:210px;}
	.receipt_title ul .vv { width:100px;}
	.receipt_title ul .vb { width:120px;}
	.receipt_title ul .vn { width:100px;}
	.receipt_title ul .vm { width:210px; text-align:left;}
	.receipt_title ul .va { width:78px; padding-left:22px;}
	.receipt_title ul li span { display:block; float:left;}
	.receipt_title ul li .span1 { width:1px; height:10px; background:#a140a1; margin:1px 3px 0 3px;} 
	.receipt_title ul li span a { color:#3366cc; text-decoration:none;}
	

/*receipt结束*/


/*cipher开始*/

.cipher { margin-top:30px;height: 325px;}
	.cipher_a { width:450px; margin:0 auto;}
	.cipher_a span { display:block; float:left; line-height:30px; margin-right:5px; }
	.cipher_a span input { width:320px; height:30px; border:1px solid #ddd; line-height:30px;} 
	.cipher_name { width:80px; text-align:right; color:#666;}
	.cipher_more {margin:-5px 0 5px 0px; color:#adadad; width:320px; padding-left:85px;}

	.cipher_modify { margin:20px 0 300px 345px;}
	.cipher_modify input { width:90px; height:28px; background:url("../images/user/cipher_modify.gif") no-repeat; border:none;}

/*cipher结束*/


/*modify开始*/

.modify { margin:0 5px;}
	.modify_list { padding:30px 0; border:1px solid #e6e6e6; border-bottom: none;}
	.modify_list ul li { float:left;}
	.modify_list ul li img { margin-left:20px;}
	.modify_list ul .bz { font-size:18px; font-weight:bold; border-right:1px solid #e6e6e6; padding:0 30px; margin:5px 20px 0 0;}
	.modify_list ul .bx { color:#999999; margin-top:8px; width:430px;}
	.modify_list ul .bc { width:150px; text-align:center; margin-top:8px;}
	.modify_list ul .bv { width:150px; text-align:center; margin-top:8px;}
	.modify_list ul .bv input { width:73px; height:25px; background:url("../images/user/modify_yz.gif") no-repeat; border:none;}
	.modify_list ul .bc a { color:#005ea7;}
	
	.modify_list1 { padding:30px 0; border:1px solid #e6e6e6;}
	.modify_list1 ul li { float:left;}
	.modify_list1 ul li img { margin-left:20px;}
	.modify_list1 ul .bz { font-size:18px; font-weight:bold; border-right:1px solid #e6e6e6; padding:0 30px; margin:5px 20px 0 0;}
	.modify_list1 ul .bx { color:#999999; margin-top:8px; width:430px;}
	.modify_list1 ul .bc { width:150px; text-align:center; margin-top:8px;}
	.modify_list1 ul .bv { width:150px; text-align:center; margin-top:8px;}
	.modify_list1 ul .bv input { width:73px; height:25px; background:url("../images/user/modify_yz.gif") no-repeat; border:none;}
	.modify_list1 ul .bc a { color:#005ea7;}

	
/*modify结束*/
		
/*recharge开始*/

.recharge { border:1px solid #ececec; background:#f7f7f7; margin-bottom:10px; padding-left:30px;}		
	.recharge p { float:left; margin:0; padding:10px 30px 10px 0;}	
	.recharge p span { font-weight:bold;} 
	.recharge p .rmb { font-weight:bold; color:#F00;} 
	
	.form_list_h { padding:9px 0 9px 10px; background:url("../images/user/form_02.gif") repeat-x; border:1px solid #ececec; font-weight:bold; color:#1d8ea3;}
	
.recharge_mode { border:1px solid #ececec; border-top:none; padding:30px 0 150px 30px;}
	.recharge_two { padding-bottom:30px; background:url("../images/user/recharge_dian.gif") repeat-x bottom; margin-right:30px;}
	
	.recharge_fzb { float:left; margin-right:20px;}
	.recharge_fzb span { display:block; float:left; margin:10px 5px 0 0;}
	.recharge_fzb div { float:left;}
	.recharge_fzb div p { margin:0; padding-top:5px; color:#999999;}
	
	.recharge_money {}
	.recharge_small { color:#666666;}
	.recharge_small input { width:150px; height:18px; border:1px solid #7f9db9; color:#666666; maigin-right:5px;}
	.recharge_button input { width:74px; height:28px; background:url("../images/user/recharge_now.gif") no-repeat; border:none; margin-top:20px;}
		
/*recharge结束*/		
		

/*account结束*/	
/*
.account { margin-top:30px;}	
	.account_write { height:12px; padding:1px; border:1px solid ##DDD; background:#e2e2e2; color:#189293; padding:10px;}
	.account_write span { color:#F00;}
	.account_list p { float:left; margin:0; padding:10px 0;}
	.account_no1 { width:150px; text-align:right;}
	.account_list p span { text-align:right; color:#F00; margin:-3px 5px 0 0;} 
	.account_list span input { width:268px; height:25px;*height:20px; padding:0 5px; border:1px solid #cdcdcd; *padding-top:5px; color:#444;}
	.account_list .account_more { margin:-8px 0 0 150px; color:#999999;}
	.account_list .account_more1 { margin:-8px 0 0 150px; color:#F00;}
	.account_list .account_wrong input { border:2px solid #F00;}
	.account_list .ico {padding-left:5px;}
	.account_list span .radio { width:12px; height:12px; margin-top:10px;}
	.account_list span select { margin:5px 5px 0 2px;}
	
	.account_list1 { margin:20px 0;}
	.account_list1 p { float:left; margin:0; padding:10px 0;}
	.account_list1 p span { text-align:right; color:#F00; margin:-3px 5px 0 0;} 
	.account_list1 span input { width:268px; height:28px; border:1px solid #cdcdcd;}
	
	.account_tj { margin:20px 0 50px 150px;}
	.account_tj input {cursor:pointer; width:90px; height:28px; background:url(/static/images/user/account_button.gif) no-repeat; border:none;}	*/	

.account { margin-top:30px;}	
	.account_write {border-bottom:1px solid #DDD; color:#666; padding:15px 10px 8px 10px;}
	.account_write span { color:#F00;}
	.account_list{ width:450px; margin:0 auto;}
	.account_list p { float:left; margin:0; padding:10px 0;}
	.account_no1 { width:80px; text-align:right; color:#666;}
	.account_list p span { text-align:right; color:#F00; margin:-3px 5px 0 0;} 
	.account_list span input { width:320px; height:30px;*height:30px; padding:0 5px; border:1px solid #ddd;  color:#444; line-height:30px;}
	.account_list .account_more { margin:-5px 0 5px 0px; color:#adadad; width:320px; padding-left:82px;}
	.account_list .account_more1 { margin:-8px 0 0 150px; color:#F00;}
	.account_list .account_wrong input { border:2px solid #F00;}
	.account_list .ico {padding-left:5px;}
	.account_list span .radio { width:12px; height:12px; margin-top:10px;}
	.account_list span select { margin:5px 5px 0 2px;}
	
	.account_list1 { margin:20px 0;}
	.account_list1 p { float:left; margin:0; padding:10px 0;}
	.account_list1 p span { text-align:right; color:#F00; margin:-3px 5px 0 0;} 
	.account_list1 span input { width:268px; height:28px; border:1px solid #cdcdcd;}
	
	.account_tj { width:968px;  border-bottom:1px solid #DDD; margin-bottom:30px;}
	.account_tj input {cursor:pointer; width:90px; height:28px; background:url("../images/user/account_button.gif") no-repeat; border:none; margin:10px 0px 25px 341px;}			
		
/*account结束*/


/*balance开始*/

.balance .balance_now { padding:0 0 10px 10px;}
.balance .balance_now span { font-family:"微软雅黑"; font-size:18px; font-weight:bold; color:#F00;} 
.balance_expire { padding-left:10px; color:#F00; background:none;}

.balance_button { margin:0 0 30px 10px;}
.balance_button input { width:74px; height:28px; background:url("../images/user/recharge_now.gif") no-repeat; border:none;}


.balance_list { height:32px; background:url("../images/user/form_02.gif") repeat-x; line-height:32px;}
	.balance_list ul li { float:left; text-align:center; color:#666666;}
	.balance_list ul .zz { width:202px;}
	.balance_list ul .zx { width:210px;}
	.balance_list ul .zc { width:200px;}
	.balance_list ul .zv { width:198px;}
	
.form_list_w {}
	.form_list_w ul li { float:left; text-align:center; color:#666666; border-top:1px solid #ececec; border-right:1px solid #ececec; padding:10px 0;}
	.form_list_w ul .zz { width:210px; color:#F00;}
	.form_list_w ul .zw { width:210px; color:#6C0;}
	.form_list_w ul .zx { width:200px;}
	.form_list_w ul .zc { width:200px;}
	.form_list_w ul .zv { width:198px; border-right:none;}


/*balance结束*/

.account_tips {margin: 10px 0;padding: 10px 0;font-weight: bold;font-size: 14px;color: #f36;background: #FDF5E6;text-align: center;letter-spacing: 2px;} 
.account_tips img {padding-right: 5px; vertical-align: text-bottom;}


/*用户设置页面*/
.accountsetting{width: 80%;height:340px;padding-left: 10%;}

/*用户头像选择器*/

/* imgAreaSelect default style */
.imgareaselect-border1{background:url(http://www.pedaily.cn/top/images/imgareaselect/border-v.gif) repeat-y left top;}
.imgareaselect-border2{background:url(http://www.pedaily.cn/top/images/imgareaselect/border-h.gif) repeat-x left top;}
.imgareaselect-border3{background:url(http://www.pedaily.cn/top/images/imgareaselect/border-v.gif) repeat-y right top;}
.imgareaselect-border4{background:url(http://www.pedaily.cn/top/images/imgareaselect/border-h.gif) repeat-x left bottom;}
.imgareaselect-border1,.imgareaselect-border2,.imgareaselect-border3,.imgareaselect-border4{filter:alpha(opacity=50);opacity:0.5;}
.imgareaselect-handle{background-color:#fff;border:solid 1px #000;filter:alpha(opacity=50);opacity:0.5;}
.imgareaselect-outer{background-color:#000;filter:alpha(opacity=50);opacity:0.5;}
.imgareaselect-selection{}
/*user default menu rewrite*/
.user-menu {padding: 0px 10px 15px 0px;}