#{extends 'account_layout.html'/}
#{set activedMenu:"修改密码"/}
    <div class="user_main">

        <!--
            <div id="other_slide">
                <div class="ttl">热门商品推荐：</div>

                <div id="prev"><a href="javascript:void(0);"></a></div>
                <div class="slide_main">
                    <ul id="slide_content">
                                </ul>
                </div>
                <div id="next"><a href="javascript:void(0);"></a></div>
                <div class="clear"></div>
            </div>
         -->
        <div class="main_ttl">修改密码</div>
        <div class="main_form">

            ${user.email}
        </div>
    </div>