#{extends 'main.html'/}
<div id="container">
<link href="@{'/public/stylesheets/user.css'}"  rel="stylesheet" type="text/css">
<script type="text/javascript" src="@{'/public/javascripts/account.js'}"></script>
<div class="login ge_form">
    <div class="ge_ttl"><span>登录蜜婚网</span></div>
        <div class="login_main">
        <div class="login_left">

        #{if flash.error}
            <p class="error">
            &{flash.error}
            </p>
        #{/if}

        <form method="post" id="sub_form" action="@{Secure.login()}">
            <div class="login_list">
                <span class="login_list_xz">E-mail：</span>
                <span class="login_list_xx"><input type="text" id="email" name="email" /></span>
                <span class="login_list_xc"></span>
                <div class="clear"></div>
                <div class="list_tips">请输入您的登录邮箱</div>
            </div>
            
            <div class="login_list">
                <span class="login_list_xz">密 码：</span>
                <span class="login_list_xx"><input type="password" id="password" name="password" autocomplete="off" /></span>
                <span class="login_list_xc"></span>
                <div class="clear"></div>
                <div class="list_tips">请输入您的登录密码</div>
            </div>
       
            <div class="login_more">
                <div class="botton2">
                    <span class="botton_xz"><input type="button" id="sub" /></span>
                    <span class="botton_xx" ><a href="/register" >还没注册？</a></span>
                    <div class="clear"></div>
                </div>
                <p>你还可以使用这些网站的账号直接登录:</p>
                <div class="login_more_vv">
                    <span><a class="login_qq" href="#">QQ</a></span>
                    <span><a class="login_zfb" href="#">支付宝</a></span>
                    <span><a class="login_xl" href="#">新浪微博</a></span>
                    <span><a class="login_360" href="#">360账号</a></span>
                    <span class="login_tt"><a class="login_tuan" href="#">团800账号</a></span>
                    <div class="clear"></div>
                </div>
            </div>
         </form> 
        </div>
        <!-- <div class="login_right"><img src="/static/images/user/login_bao.gif"></div> -->
        <div class="clear"></div>
    </div>
</div>

﻿</div>