#{extends 'main.html'/}
<div id="container">

<link href="@{'/public/stylesheets/index.css'}" rel="stylesheet" type="text/css" />
<!-- -->
<div id="slide">

    <ul id="slide_nav">
        <li class="n_01_on first">
            <div>
                <span></span>
                <a href="/shenzhen-1-0-1-1.html" target="_blank">摄影服务</a>
                <p>婚纱摄影、其它摄影</p>
            </div>
        </li>
        <li class="n_02">
            <div>
                <span></span>
                <a href="/shenzhen-3-0-1-1.html" target="_blank">婚礼服务</a>
                <p>婚礼策划、跟妆…</p>
            </div>
        </li>
        <li class="n_03">
            <div>
                <span></span>
                <a href="/shenzhen-6-0-1-1.html" target="_blank">婚戒首饰</a>
                <p>钻戒、配饰…</p>
            </div>
        </li>-->
        <li class="n_03">
            <div>
                <span></span>
                <a href="/shenzhen-4-0-1-1.html" target="_blank">婚纱礼服</a>
                <p>婚纱、男士礼服…</p>
            </div>
        </li>-->

        <li class="n_04">
            <div>
                <span></span>
                <a href="/shenzhen-7-0-1-1.html" target="_blank">蜜月旅行</a>
                <p>国内\海外浪漫蜜月行</p>
            </div>
        </li>
        <li class="n_05">
            <div>
                <span></span>
                <a href="/shenzhen-8-24-1-1.html" target="_blank">酒水饮品</a>
                <p>酒水、婚宴饮品…</p>
            </div>
        </li>
        <li class="n_06">
            <div>
                <span></span>
                <a href="/shenzhen-8-0-1-1.html" target="_blank">婚礼用品</a>
                <p>喜帖、喜糖、其它…</p>
            </div>
        </li>

    </ul>

    <div id="slide_pic">
        <div class="piclay" style="display:block;">
            <div class="slide_meta">
                <a target="_blank" href="/475.html"><img src="@{'/public/images/index/slide/ad_11.jpg'}" /></a>
            </div>
            <div class="slide_meta">
                <a target="_blank" href="http://www.d8wed.com/topic/2012bride"><img src="@{'/public/images/index/slide/ad_12.jpg'}" /></a><br />
                <a target="_blank" href="/228.html"><img src="@{'/public/images/index/slide/ad_13.jpg'}" /></a>
            </div>
        </div>

        <div class="piclay">
            <div class="slide_meta">
                <a target="_blank" href="/693.html"><img src="@{'/public/images/index/slide/ad_21.jpg'}" /></a>
            </div>
            <div class="slide_meta">
                <a target="_blank" href="/697.html"><img src="@{'/public/images/index/slide/ad_22.jpg'}" /></a><br />
                <a target="_blank" href="/698.html"><img src="@{'/public/images/index/slide/ad_23.jpg'}" /></a>
            </div>
        </div>

        <div class="piclay">
            <!--<div class="slide_meta">
                <a target="_blank" href="#"><img src="@{'/public/images/index/slide/ad_31.jpg'}" /></a>
            </div>-->
            <div class="slide_meta">
                <a target="_blank" href="/651.html"><img src="@{'/public/images/index/slide/ad_41.jpg'}" /></a>
            </div>
            <div class="slide_meta">
                <a target="_blank" href="/762.html"><img src="@{'/public/images/index/slide/ad_42.jpg'}" /></a><br />
                <a target="_blank" href="/761.html"><img src="@{'/public/images/index/slide/ad_43.jpg'}" /></a>
            </div>

        </div>

        <div class="piclay">
            <div class="slide_meta">
                <a target="_blank" href="/712.html"><img src="@{'/public/images/index/slide/ad_51.jpg'}" /></a>
            </div>
            <div class="slide_meta">
                <a target="_blank" href="/713.html"><img src="@{'/public/images/index/slide/ad_52.jpg'}" /></a><br />
                <a target="_blank" href="/777.html"><img src="@{'/public/images/index/slide/ad_53.jpg'}" /></a>
            </div>
        </div>

        <div class="piclay">
            <div class="slide_meta">
                <a target="_blank" href="/710.html"><img src="@{'/public/images/index/slide/ad_61.jpg'}" /></a>
            </div>
            <div class="slide_meta">
                <a target="_blank" href="/711.html"><img src="@{'/public/images/index/slide/ad_62.jpg'}" /></a>
            </div>
        </div>

        <div class="piclay">
            <div class="slide_meta">
                <a target="_blank" href="/717.html"><img src="@{'/public/images/index/slide/ad_71.jpg'}" /></a>
            </div>
            <div class="slide_meta">
                <a target="_blank" href="/771.html"><img src="@{'/public/images/index/slide/ad_63.jpg'}" /></a><br />
                <a target="_blank" href="/770.html"><img src="@{'/public/images/index/slide/ad_64.jpg'}" /></a>
            </div>
        </div>

        <div class="piclay">
            <div class="slide_meta">
                <a target="_blank" href="/776.html"><img src="@{'/public/images/index/slide/ad_65.jpg'}" /></a><br />
                <a target="_blank" href="/775.html"><img src="@{'/public/images/index/slide/ad_66.jpg'}" /></a>
            </div>
            <div class="slide_meta">
                <a target="_blank" href="/778.html"><img src="@{'/public/images/index/slide/ad_69.jpg'}" /></a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


<!-- floor 1 -->
<div class="floor f01">
    <div class="f_ttl">
        <div class="ttl"><div class="ge_corner_l"></div>摄影服务</div>
        <div class="f_theme">
            <a href="/475.html" target="_blank"><img src="@{'/public/images/index/n1.jpg'}" /></a>
            <!-- <a href="/430.html" target="_blank"><img src="@{'/public/images/index/n2.jpg'}" /></a> -->
        </div>
    </div>
    <div class="content">
        <div class="tab">
            <ul>
                <li class="on"><a href="javascript:void(0);">今日推荐<span></span></a></li>
                <li><a href="javascript:void(0);">热卖套系<span></span></a></li>
                <li><a href="javascript:void(0);">最新套系<span></span></a></li>
            </ul>
            <div class="more"><a href="/shenzhen-1-0-1-1.html" target="_blank">更多<span></span></a></div>
        </div>
        <div class="goods nav_1">
            <ul>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳798动漫摄影</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/581.html" target="_blank"><img src="@{'/public/images/items/581_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/581.html" target="_blank">个人写真 -《动漫超值套餐》</a></p>
                    <p class="goods_market_price">门市价：￥1898</p>
                    <p class="goods_xihun_price">蜜婚价：￥228</p>
                    <p class="goods_pay">预付：￥28<a href="/581.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳映像视界婚纱摄影</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/485.html" target="_blank"><img src="@{'/public/images/items/9_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/485.html" target="_blank">孕妇照 -《孕藏魅丽》</a></p>
                    <p class="goods_market_price">门市价：￥1899</p>
                    <p class="goods_xihun_price">蜜婚价：￥488</p>
                    <p class="goods_pay">预付：￥48<a href="/485.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳龙岗金夫人婚纱摄影..</a></p>
                    <p class="biz_level"><span class="star_1"></span></p>
                    <a href="/484.html" target="_blank"><img src="@{'/public/images/items/11_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/484.html" target="_blank">婚纱摄影 -《金夫人：浪漫海景杨梅…</a></p>
                    <p class="goods_market_price">门市价：￥16899</p>
                    <p class="goods_xihun_price">蜜婚价：￥2699</p>
                    <p class="goods_pay">预付：￥239<a href="/484.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳龙岗金夫人婚纱摄影..</a></p>
                    <p class="biz_level"><span class="star_1"></span></p>
                    <a href="/483.html" target="_blank"><img src="@{'/public/images/items/13_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/483.html" target="_blank">婚纱摄影 -《金夫人：至尊永恒典藏…</a></p>
                    <p class="goods_market_price">门市价：￥25099</p>
                    <p class="goods_xihun_price">蜜婚价：￥3299</p>
                    <p class="goods_pay">预付：￥299<a href="/483.html" target="_blank"></a></p>
                </li>
            </ul>
        </div>
        <div class="goods nav_2">
            <ul>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳韩式钟爱一生婚纱摄..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/9.html" target="_blank"><img src="/0731/105/9_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/9.html" target="_blank">婚纱摄影 -《相爱久久》</a></p>
                    <p class="goods_market_price">门市价：￥7999</p>
                    <p class="goods_xihun_price">蜜婚价：￥1999</p>
                    <p class="goods_pay">预付：￥199<a href="/9.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳韩式钟爱一生婚纱摄..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/11.html" target="_blank"><img src="/0731/105/11_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/11.html" target="_blank">婚纱摄影 -《爱我久久》</a></p>
                    <p class="goods_market_price">门市价：￥8999</p>
                    <p class="goods_xihun_price">蜜婚价：￥2599</p>
                    <p class="goods_pay">预付：￥259<a href="/11.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳韩式钟爱一生婚纱摄..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/13.html" target="_blank"><img src="/0731/105/13_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/13.html" target="_blank">个人写真 -《韩式风来袭》</a></p>
                    <p class="goods_market_price">门市价：￥688</p>
                    <p class="goods_xihun_price">蜜婚价：￥168</p>
                    <p class="goods_pay">预付：￥28<a href="/13.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳南山时光摄影工作室..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/14.html" target="_blank"><img src="/0731/67/14_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/14.html" target="_blank">个人写真 -《个性写真MV定制》</a></p>
                    <p class="goods_market_price">门市价：￥888</p>
                    <p class="goods_xihun_price">蜜婚价：￥399</p>
                    <p class="goods_pay">预付：￥39<a href="/14.html" target="_blank"></a></p>
                </li>
            </ul>
        </div>
        <div class="goods nav_3">
            <ul>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳韩式钟爱一生婚纱摄..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/13.html" target="_blank"><img src="/0731/105/13_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/13.html" target="_blank">个人写真 -《韩式风来袭》</a></p>
                    <p class="goods_market_price">门市价：￥688</p>
                    <p class="goods_xihun_price">蜜婚价：￥168</p>
                    <p class="goods_pay">预付：￥28<a href="/13.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳福永塘尾钟爱一生婚..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/449.html" target="_blank"><img src="/0817/455/449_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/449.html" target="_blank">个人写真 -《青春》</a></p>
                    <p class="goods_market_price">门市价：￥1388</p>
                    <p class="goods_xihun_price">蜜婚价：￥168</p>
                    <p class="goods_pay">预付：￥28<a href="/449.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳宝安米兰新娘</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/245.html" target="_blank"><img src="/0803/550/245_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/245.html" target="_blank">个人写真 -《舞动青春》</a></p>
                    <p class="goods_market_price">门市价：￥1188</p>
                    <p class="goods_xihun_price">蜜婚价：￥188</p>
                    <p class="goods_pay">预付：￥38<a href="/245.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳龙华深蓝视觉</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/426.html" target="_blank"><img src="/0815/462/426_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/426.html" target="_blank">个人写真 -《美丽时光》</a></p>
                    <p class="goods_market_price">门市价：￥1199</p>
                    <p class="goods_xihun_price">蜜婚价：￥199</p>
                    <p class="goods_pay">预付：￥29<a href="/426.html" target="_blank"></a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>


<!-- floor 2 -->
<div class="floor f03">
    <div class="f_ttl">
        <div class="ttl"><div class="ge_corner_l"></div>婚礼服务</div>
        <div class="f_theme">
            <!--  <a href="/475.html" target="_blank"><img src="@{'/public/images/index/n1.jpg'}" /></a> -->
            <a href="/696.html" target="_blank"><img src="@{'/public/images/index/n2.jpg'}" /></a>
        </div>
    </div>
    <div class="content">
        <div class="tab">
            <ul>
                <li class="on"><a href="javascript:void(0);">今日推荐<span></span></a></li>
                <li><a href="javascript:void(0);">热卖套系<span></span></a></li>
                <li><a href="javascript:void(0);">最新套系<span></span></a></li>
            </ul>
            <div class="more"><a href="/shenzhen-3-0-1-1.html" target="_blank">更多<span></span></a></div>
        </div>
        <div class="goods nav_1">
            <ul>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳鸿志婚礼主持</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/719.html" target="_blank"><img src="/1017/795/719_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/719.html" target="_blank">婚礼策划 -《深圳资深婚礼司仪》</a></p>
                    <p class="goods_market_price">门市价：￥2200</p>
                    <p class="goods_xihun_price">蜜婚价：￥1000</p>
                    <p class="goods_pay">预付：￥100<a href="/719.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳幸福花嫁新娘会馆</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/701.html" target="_blank"><img src="/1009/790/701_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/701.html" target="_blank">新娘跟妆 -《新娘全日跟妆》</a></p>
                    <p class="goods_market_price">门市价：￥1888</p>
                    <p class="goods_xihun_price">蜜婚价：￥800</p>
                    <p class="goods_pay">预付：￥80<a href="/701.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳樱子彩妆礼服馆</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/700.html" target="_blank"><img src="/1009/791/700_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/700.html" target="_blank">新娘跟妆 -《首席化妆师全程跟妆》…</a></p>
                    <p class="goods_market_price">门市价：￥2880</p>
                    <p class="goods_xihun_price">蜜婚价：￥1699</p>
                    <p class="goods_pay">预付：￥169<a href="/700.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳小桥新娘跟妆工作室..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/699.html" target="_blank"><img src="/1009/792/699_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/699.html" target="_blank">新娘跟妆 -《新娘全程跟妆》</a></p>
                    <p class="goods_market_price">门市价：￥1320</p>
                    <p class="goods_xihun_price">蜜婚价：￥600</p>
                    <p class="goods_pay">预付：￥60<a href="/699.html" target="_blank"></a></p>
                </li>
            </ul>
        </div>
        <div class="goods nav_2">
            <ul>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳千百度婚庆礼仪策划..</a></p>
                    <p class="biz_level"><span class="star_1"></span></p>
                    <a href="/690.html" target="_blank"><img src="/1008/204/690_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/690.html" target="_blank">婚礼策划 -《梦中的婚礼》</a></p>
                    <p class="goods_market_price">门市价：￥89999</p>
                    <p class="goods_xihun_price">蜜婚价：￥59999</p>
                    <p class="goods_pay">预付：￥4800<a href="/690.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳千百度婚庆礼仪策划..</a></p>
                    <p class="biz_level"><span class="star_1"></span></p>
                    <a href="/692.html" target="_blank"><img src="/1008/204/692_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/692.html" target="_blank">婚礼策划 -《最爱》</a></p>
                    <p class="goods_market_price">门市价：￥32999</p>
                    <p class="goods_xihun_price">蜜婚价：￥18999</p>
                    <p class="goods_pay">预付：￥1519<a href="/692.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳千百度婚庆礼仪策划..</a></p>
                    <p class="biz_level"><span class="star_1"></span></p>
                    <a href="/691.html" target="_blank"><img src="/1008/204/691_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/691.html" target="_blank">婚礼策划 -《心动时刻》</a></p>
                    <p class="goods_market_price">门市价：￥16900</p>
                    <p class="goods_xihun_price">蜜婚价：￥8999</p>
                    <p class="goods_pay">预付：￥719<a href="/691.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳辛格瑞拉主题婚礼会..</a></p>
                    <p class="biz_level"><span class="star_1"></span></p>
                    <a href="/693.html" target="_blank"><img src="/1008/257/693_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/693.html" target="_blank">婚礼策划 -《天长地久》</a></p>
                    <p class="goods_market_price">门市价：￥29999</p>
                    <p class="goods_xihun_price">蜜婚价：￥13999</p>
                    <p class="goods_pay">预付：￥1120<a href="/693.html" target="_blank"></a></p>
                </li>
            </ul>
        </div>
        <div class="goods nav_3">
            <ul>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳小桥新娘跟妆工作室..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/699.html" target="_blank"><img src="/1009/792/699_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/699.html" target="_blank">新娘跟妆 -《新娘全程跟妆》</a></p>
                    <p class="goods_market_price">门市价：￥1320</p>
                    <p class="goods_xihun_price">蜜婚价：￥600</p>
                    <p class="goods_pay">预付：￥60<a href="/699.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳幸福花嫁新娘会馆</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/701.html" target="_blank"><img src="/1009/790/701_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/701.html" target="_blank">新娘跟妆 -《新娘全日跟妆》</a></p>
                    <p class="goods_market_price">门市价：￥1888</p>
                    <p class="goods_xihun_price">蜜婚价：￥800</p>
                    <p class="goods_pay">预付：￥80<a href="/701.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳晶彩化妆造型工作室..</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/694.html" target="_blank"><img src="/1008/788/694_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/694.html" target="_blank">新娘跟妆 -《最美丽的新娘》</a></p>
                    <p class="goods_market_price">门市价：￥1888</p>
                    <p class="goods_xihun_price">蜜婚价：￥998</p>
                    <p class="goods_pay">预付：￥98<a href="/694.html" target="_blank"></a></p>
                </li>
                <li>
                    <p class="biz_ttl"><a href="#" target="_blank">深圳鸿志婚礼主持</a></p>
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/719.html" target="_blank"><img src="/1017/795/719_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/719.html" target="_blank">婚礼策划 -《深圳资深婚礼司仪》</a></p>
                    <p class="goods_market_price">门市价：￥2200</p>
                    <p class="goods_xihun_price">蜜婚价：￥1000</p>
                    <p class="goods_pay">预付：￥100<a href="/719.html" target="_blank"></a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>


<!-- floor 3 -->
<div class="floor f01">
    <div class="f_ttl">
        <div class="ttl"><div class="ge_corner_l"></div>珠宝配饰</div>
        <div class="f_theme">
            <!--  <a href="/475.html" target="_blank"><img src="@{'/public/images/index/n1.jpg'}" /></a> -->
            <a href="/656.html" target="_blank"><img src="@{'/public/images/index/n3.jpg'}" /></a>
        </div>
    </div>
    <div class="content">
        <div class="tab">
            <ul>
                <li class="on"><a href="javascript:void(0);">今日推荐<span></span></a></li>
                <li><a href="javascript:void(0);">热卖套系<span></span></a></li>
                <li><a href="javascript:void(0);">最新套系<span></span></a></li>
            </ul>
            <div class="more"><a href="/shenzhen-6-0-1-1.html" target="_blank">更多<span></span></a></div>
        </div>
        <div class="goods nav_1">
            <ul>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/768.html" target="_blank"><img src="/1101/787/768_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/768.html" target="_blank">Miya米娅 不规则方形项链 …</a></p>
                    <p class="goods_market_price">门市价：￥74</p>
                    <p class="goods_xihun_price">蜜婚价：￥67</p>
                    <p class="goods_pay"><!-- 预付：￥67 --><a href="/768.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/767.html" target="_blank"><img src="/1101/787/767_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/767.html" target="_blank">Miya米娅 古纹镶钻套装  </a></p>
                    <p class="goods_market_price">门市价：￥183</p>
                    <p class="goods_xihun_price">蜜婚价：￥165</p>
                    <p class="goods_pay"><!-- 预付：￥165 --><a href="/767.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/766.html" target="_blank"><img src="/1101/787/766_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/766.html" target="_blank">Miya米娅 镶钻豹子头水晶…</a></p>
                    <p class="goods_market_price">门市价：￥78</p>
                    <p class="goods_xihun_price">蜜婚价：￥70</p>
                    <p class="goods_pay"><!-- 预付：￥70 --><a href="/766.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/765.html" target="_blank"><img src="/1101/787/765_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/765.html" target="_blank">Miya米娅 水滴项链 </a></p>
                    <p class="goods_market_price">门市价：￥74</p>
                    <p class="goods_xihun_price">蜜婚价：￥67</p>
                    <p class="goods_pay"><!-- 预付：￥67 --><a href="/765.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
            </ul>
        </div>
        <div class="goods nav_2">
            <ul>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/647.html" target="_blank"><img src="/0919/787/647_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/647.html" target="_blank">配饰 -Miya米娅 爱情金钥匙项链</a></p>
                    <p class="goods_market_price">门市价：￥78</p>
                    <p class="goods_xihun_price">蜜婚价：￥70</p>
                    <p class="goods_pay"><!-- 预付：￥70 --><a href="/647.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/665.html" target="_blank"><img src="/0920/787/665_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/665.html" target="_blank">配饰 -Miya米娅 小丑鱼手链</a></p>
                    <p class="goods_market_price">门市价：￥74</p>
                    <p class="goods_xihun_price">蜜婚价：￥66</p>
                    <p class="goods_pay"><!-- 预付：￥134 --><a href="/665.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/630.html" target="_blank"><img src="/0918/787/630_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/630.html" target="_blank">钻戒 -《Hera‘s Crown》 </a></p>
                    <p class="goods_market_price">门市价：￥11460</p>
                    <p class="goods_xihun_price">蜜婚价：￥6750</p>
                    <p class="goods_pay"><!-- 预付：￥6750 --><a href="/630.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/738.html" target="_blank"><img src="/1101/787/738_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/738.html" target="_blank">配饰 -Miya米娅 小蜜蜂石榴石耳…</a></p>
                    <p class="goods_market_price">门市价：￥38</p>
                    <p class="goods_xihun_price">蜜婚价：￥34</p>
                    <p class="goods_pay"><!-- 预付：￥34 --><a href="/738.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
            </ul>
        </div>
        <div class="goods nav_3">
            <ul>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/746.html" target="_blank"><img src="/1101/787/746_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/746.html" target="_blank">配饰 -Miya米娅 皇冠水晶小耳钉 …</a></p>
                    <p class="goods_market_price">门市价：￥17</p>
                    <p class="goods_xihun_price">蜜婚价：￥15</p>
                    <p class="goods_pay"><!-- 预付：￥15 --><a href="/746.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/752.html" target="_blank"><img src="/1101/787/752_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/752.html" target="_blank">配饰 -Miya米娅 皇冠小耳饰  </a></p>
                    <p class="goods_market_price">门市价：￥17</p>
                    <p class="goods_xihun_price">蜜婚价：￥16</p>
                    <p class="goods_pay"><!-- 预付：￥16 --><a href="/752.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/747.html" target="_blank"><img src="/1101/787/747_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/747.html" target="_blank">配饰 -Miya米娅 镀香槟金小海星…</a></p>
                    <p class="goods_market_price">门市价：￥20</p>
                    <p class="goods_xihun_price">蜜婚价：￥18</p>
                    <p class="goods_pay"><!-- 预付：￥18 --><a href="/747.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
                <li>
                    <!-- <p class="biz_ttl"><a href="#" target="_blank">瑞拉维斯</a></p> -->
                    <p class="biz_level"><span class="star_0"></span></p>
                    <a href="/764.html" target="_blank"><img src="/1101/787/764_1_index.jpg'}" /></a>
                    <p class="goods_ttl"><a href="/764.html" target="_blank">配饰 -Miya米娅 海螺耳环 </a></p>
                    <p class="goods_market_price">门市价：￥23</p>
                    <p class="goods_xihun_price">蜜婚价：￥20</p>
                    <p class="goods_pay"><!-- 预付：￥20 --><a href="/764.html" target="_blank" style="background:url('@{'/public/images/index/buy_now.gif'}') no-repeat;right:70px;"></a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>


<script type="text/javascript" src="@{'/public/javascripts/index.js'}"></script>
﻿</div>