<div id="footer">
    <div class="footer_all">
        <div class="footer_phone"><div class="tt1"></div></div>
        <div class="footer_help">
            <ul>
                <li class="tittle">购买指南</li>
                <li><a href="#"><span></span>购物流程</a></li>
                <li><a href="#"><span></span>常见问题</a></li>
            </ul>

            <ul>
                <li class="tittle">支付方式</li>
                <li><a href="#"><span></span>网银支付</a></li>
                <li><a href="/page/help_pay.php" target="_blank"><span></span>银行转账</a></li>
            </ul>

            <ul>
                <li class="tittle">售后服务</li>
                <li><a href="#"><span></span>退款政策</a></li>
                <li><a href="#"><span></span>退款自助服务</a></li>
                <li><a href="#"><span></span>在线客服</a></li>
            </ul>

            <ul class="business">
                <li class="tittle">商家合作</li>
                <li><a href="#"><span></span>与蜜婚网合作</a></li>
                <li><a href="#"><span></span>广告服务</a></li>
                <li><a href="#"><span></span>商家后台</a></li>
            </ul>

        </div>
        <div class="footer_interests">
            <div class="tt1"><span></span>10天无条件退</div>
            <div class="tt2"><span></span>过期退还蜜婚账户</div>
        </div>
        <div class="clear"></div>

        <div class="footer_about">
            <div class="tt1">
                <ul>
                    <li><a href="/about" target="_blank">关于我们</a></li>
                    <li><a href="/report" target="_blank">媒体报道</a></li>
                    <li><a href="/law" target="_blank">法律顾问</a></li>
                    <li><a href="/job" target="_blank">工作机会</a></li>
                    <li><a href="/friends" target="_blank">友情链接</a></li>
                    <li><a href="/contact" target="_blank">联系我们</a></li>
                </ul>
                <p>Copyright @ 2013 蜜婚网 weddingsweet.com (渝ICP8888888号)</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>