#{include 'header.html'/}
#{include 'nav.html'/}
</div>
<style type="text/css">
    /*返回顶部*/
    .backToTop {
        display: none;
        width: 18px;
        line-height: 1.2;
        padding: 5px 0;
        background-color:#ff0000;
        color: #fff;
        font-size: 12px;
        text-align: center;
        position: fixed;
        _position: absolute;
        right: 10px;
        bottom: 100px;
        _bottom: "auto";
        cursor: pointer;
        opacity: .6;
        filter: Alpha(opacity=60);
    }
    .backToTop:hover{
        opacity: .9;
        filter: Alpha(opacity=90);
    }
</style>
#{doLayout /}
<script type="text/javascript">
    /*返回顶部*/
    (function() {
        var $backToTopTxt = "返回顶部", $backToTopEle = $('<div class="backToTop"></div>').appendTo($("body"))
                .text($backToTopTxt).attr("title", $backToTopTxt).click(function() {
                    $("html, body").animate({ scrollTop: 0 }, 120);
                }), $backToTopFun = function() {
            var st = $(document).scrollTop(), winh = $(window).height();
            (st > 0)? $backToTopEle.show(): $backToTopEle.hide();
            //IE6下的定位
            if (!window.XMLHttpRequest) {
                $backToTopEle.css("top", st + winh - 166);
            }
        };
        $(window).bind("scroll", $backToTopFun);
        $(function() { $backToTopFun(); });
    })();
</script>
#{include 'footer.html'/}