<!-- Nav start -->
<div id="nav">
    <div class="ge_corner_r"></div>
    <ul class="title_ul">
        <li class="pro_cat" id="pro_cat">
            <div class="ge_corner_l"></div>
            <a href="javascript:void(0);">所有商品分类</a><span></span>
        </li>
        <li class="on"><a href="/" target="_blank">首页</a></li>
        <li><a href="http://www.d8wed.com" target="_blank">精品团购</a></li>
        <li><a href="#" target="_blank">消费者保障</a></li>
    </ul>
    <div class="cart_btn" id="cart_btn">
        <div class="cart_num" id="cart_num">
            <a href="/buy/cart.php"><span id="cart_quantity">0</span>件商品  去购物车结算</a>
        </div>
        <div class="cart_list" id="cart_list">
            <ul>
            </ul>
            <div class="cart_bottom">
                购物车中共<span id="cart_count">0</span>件商品，总计：<label id="cart_origin">0.00</label><a href="/buy/cart.php"></a>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!-- hover start -->
    <div id="header_side">
        <div class="h_nav">
            <ul>
                <li>
                    <span class="ttl"><label></label><a href="/shenzhen-1-0-1-1.html" target="_blank">摄影服务</a></span>
                    <a href="/shenzhen-1-1-1-1.html" target="_blank">婚纱摄影</a>
                    <a href="/shenzhen-1-2-1-1.html" target="_blank">旅游婚纱摄影</a>
                    <a href="/shenzhen-1-2-1-1.html" target="_blank">写真</a>
                    <a href="/shenzhen-1-4-1-1.html" target="_blank">孕妇/儿童照/全家福</a>
                </li>
                <li>
                    <span class="ttl"><label></label><a href="/shenzhen-3-0-1-1.html" target="_blank">婚礼服务</a></span>
                    <a href="/shenzhen-3-14-1-1.html" target="_blank">新娘跟妆</a>
                    <a href="/shenzhen-3-12-1-1.html" target="_blank">婚礼策划</a>
                    <a href="/shenzhen-3-15-1-1.html" target="_blank">婚车租赁</a>
                    <a href="/shenzhen-3-16-1-1.html" target="_blank">婚礼跟拍</a>
                    <a href="/shenzhen-2-0-1-1.html" target="_blank">婚宴喜宴</a>
                </li>
                <li>
                    <span class="ttl"><label></label><a href="/shenzhen-4-0-1-1.html" target="_blank">婚纱礼服</a></span>
                    <a href="/shenzhen-4-17-1-1.html" target="_blank">精美婚纱</a>
                    <a href="/shenzhen-4-19-1-1.html" target="_blank">男士礼服</a>
                    <a href="/shenzhen-4-20-1-1.html" target="_blank">女士礼服</a>
                </li>
                <li>
                    <span class="ttl"><label></label><a href="/shenzhen-6-0-1-1.html" target="_blank">珠宝首饰</a></span>
                    <a href="/shenzhen-4-21-1-1.html" target="_blank">钻戒</a>
                    <a href="/shenzhen-4-22-1-1.html" target="_blank">配饰</a>
                </li>
                <li>
                    <span class="ttl"><label></label><a href="#" target="_blank">蜜月旅游</a></span>
                    <a href="#" target="_blank" style="padding-right:0px;">马尔代夫</a>
                    <a href="#" target="_blank" style="padding-right:0px;">毛里求斯</a>
                    <a href="#" target="_blank" style="padding-right:0px;">普吉岛</a>
                    <a href="#" target="_blank" style="padding-right:0px;">巴厘岛</a>
                    <a href="#" target="_blank" style="padding-right:0px;">新加坡</a>
                    <a href="#" target="_blank" style="padding-right:0px;">马来西亚</a>
                    <a href="#" target="_blank" style="padding-right:0px;">曼谷</a>
                    <a href="#" target="_blank" style="padding-right:0px;">清迈</a>
                </li>
                <li>
                    <span class="ttl"><label></label><a href="#" target="_blank">酒水饮品</a></span>
                    <a href="#" target="_blank">红酒</a>
                    <a href="#" target="_blank">香槟</a>
                </li>
                <!--
                <li class="single">
                    <div class="ttl"><span class="point"></span><span></span><a href="#" target="_blank">婚礼租车</a></div>
                </li>



                <li>
                    <div class="ttl"><span class="point"></span><span></span><a href="#" target="_blank">鲜花</a></div>
                    <a href="#" target="_blank">新娘美妆</a>
                    <a href="#" target="_blank">婚礼跟拍</a>
                    <a href="#" target="_blank">其他</a>
                </li>
                -->
                <li class="last">
                    <span class="ttl"><label></label><a href="/shenzhen-8-0-1-1.html" target="_blank">婚礼用品</a></span>
                    <a href="/shenzhen-8-18-1-1.html" target="_blank">喜庆床品</a>
                    <a href="/shenzhen-8-27-1-1.html" target="_blank">婚礼装饰</a>
                    <a href="/shenzhen-8-26-1-1.html" target="_blank">喜帖</a>
                    <a href="/shenzhen-8-25-1-1.html" target="_blank">喜糖/喜糖盒</a>
                    <a href="/shenzhen-8-24-1-1.html" target="_blank">喜酒</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- hover end -->
    <div class="clear"></div>
</div>
<!-- Nav end -->