#{extends 'main.html'/}
<div id="container">
<link href="@{'/public/stylesheets/user.css'}"  rel="stylesheet" type="text/css">
<script type="text/javascript" src="@{'/public/javascripts/account.js'}"></script>
<div class="login ge_form">
    <div class="ge_ttl"><span>登录蜜婚网</span></div>
        <div class="login_main">
        <div class="login_left">
        #{if session.get("username")}
            <!-- Modal -->
            <div id="infoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">已经登陆，无需重复登陆</h3>
                </div>
                <div class="modal-body">
                    <h4>你好:${session.get("username")}</h4>
                    <h4>您已经成功登陆，无需重新登陆</h4>
                    <h3 style="color: #8b0000"><div style="display: inline" id="timedown">3</div>秒后将自动跳转至主页。</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="location.href='/'">确定</button>
                </div>
            </div>
            <script language="javascript" type="text/javascript">
                $('#infoModal').modal('show');
                setTimeout("timedown.innerHTML='2'",1000);
                setTimeout("timedown.innerHTML='1'",2000);
                setTimeout("timedown.innerHTML='0'",3000);
                setTimeout("javascript:location.href='/'", 3000);
            </script>
        #{/if}
        #{if flash.error}
            <p class="error">
            &{flash.error}
            </p>
        #{/if}

        <form method="post" id="sub_form" action="@{Security.login()}">
            <div class="login_list" id="email">
                <span class="login_list_xz">E-mail：</span>
                <span class="login_list_xx"><input type="text" id="user_email" name="email" /></span>
                <span class="login_list_xc"></span>
                <div class="clear"></div>
                <div class="list_tips">请输入您的登录邮箱</div>
            </div>
            
            <div class="login_list" id="pwd">
                <span class="login_list_xz">密 码：</span>
                <span class="login_list_xx"><input type="password" id="password" name="password" autocomplete="off" /></span>
                <span class="login_list_xc"></span>
                <div class="clear"></div>
                <div class="list_tips">请输入您的登录密码</div>
            </div>
       
            <div class="login_more">
                <div class="botton2">
                    <span class="botton_xz"><input type="button" id="login_sub" /></span>
                    <span class="botton_xx" ><a href="/register" >还没注册？</a></span>
                    <div class="clear"></div>
                </div>
                <p>你还可以使用这些网站的账号直接登录:</p>
                <div class="login_more_vv">
                    <span><a class="login_qq" href="#">QQ</a></span>
                    <span><a class="login_zfb" href="#">支付宝</a></span>
                    <span><a class="login_xl" href="#">新浪微博</a></span>
                    <span><a class="login_360" href="#">360账号</a></span>
                    <span class="login_tt"><a class="login_tuan" href="#">团800账号</a></span>
                    <div class="clear"></div>
                </div>
            </div>
         </form> 
        </div>
        <!-- <div class="login_right"><img src="/static/images/user/login_bao.gif"></div> -->
        <div class="clear"></div>
    </div>
</div>

﻿</div>