#{extends 'main.html'/}
<div id="container">
<script type="text/javascript" src="@{'/public/javascripts/account.js'}"></script>
<link href="@{'/public/stylesheets/user.css'}"  rel="stylesheet" type="text/css">

<div class="login ge_form">
    <div class="ge_ttl"><span>注册用户</span></div>
            <div class="agreement_main">
        	<div class="login_left">
        		<form name="register" method="post" id="sub_form" action="@{Common.regist()}">
            	<div class="login_list" id="email">
                	<span class="login_list_xz"><s>*</s>我的邮箱：</span>
                    <span class="login_list_xx"><input type="text" name="email" id="user_email" class="userRegister"/></span>
                    <span class="login_list_xc"></span>
                    <div class="clear"></div>
                    <div class="list_tips">请输入您经常使用的邮箱作为帐号</div>
                </div>
                <!-- 
                <div class="login_list">
                	<span class="login_list_xz"><s>*</s>昵称:</span>
                    <span class="login_list_xx"><input type="text" name="realname" id="realname" maxlength="26"  autocomplete="off"  /></span>
                    <span class="login_list_xc"></span>
                    <div class="clear"></div>
                    <div class="list_tips">中、英文均可，至少5位，不能带有特殊符号</div>
                </div>
                 -->
                <div class="login_list" id="pwd">
                	<span class="login_list_xz"><s>*</s>密码：</span>
                    <span class="login_list_xx"><input type="password" id="password" name="password" autocomplete="off" /></span>
                    <span class="login_list_xc"></span>
                    <div class="clear"></div>
                    <div class="list_tips">密码长度不能少于6位</div>
                </div>
                
                <div class="login_list" id="pwd1">
                	<span class="login_list_xz"><s>*</s>确认密码：</span>
                    <span class="login_list_xx"><input type="password"  id="password1" name="password1"  autocomplete="off"  /></span>
                    <span class="login_list_xc"></span>
                    <div class="clear"></div>
                    <div class="list_tips">再次确认您的密码</div>
                </div>
                
                <div class="login_list" id="captcha">
                	<span class="login_list_xz"><s>*</s>验证码：</span>
                    <span class="login_list_xx" style="width:100px;"><input type="text"  id="verify" name="verify" autocomplete="off" style="width:100px;" /></span>
                    <span style="margin-top: 8px;"><img src="@{Common.captcha(randomID)}"  id="code_img" ></span>
                    <span style="margin-top: 8px;">看不清？<a href="#" id="code_reload">换一张</a></span>
                    %{String newID = play.libs.Codec.UUID();}%
                    <script>
                    $(function(){
                        $('#code_reload').click(function(){
                            $('#code_img').attr('src','@{Common.captcha(newID)}');
                            return false;
                        });
                    });
                    </script>
                    <div class="clear"></div>
                    <div class="list_tips">请输入验证码</div>
                </div>
                <!--
                <div class="login_list">
                	<span class="login_list_xz"><s>*</s>手机号:</span>
                    <span class="login_list_xx"><input type="text" id="mobile" name="mobile" /></span>
                    <span class="login_list_xc"></span>
                    <div class="clear"></div>
                    <div class="list_tips">用户接收消费券以及商家信息等</div>
                </div>
                
                -->
                 <div id="readme">
                    <span><input type="checkbox" id="read" /></span>
                    <span>我已看过并同意</span>
                    <span class="agreement">《<a href="#">蜜婚网络服务使用协议</a>》</span>
                    <div class="clear"></div>
                 </div>

                 <div class="botton">
                    <span class="botton_xb"><input type="button" id="reg_sub" /></span>
                    <div class="clear"></div>
                </div>
                
				</form>
            </div>
            <!-- <div class="login_right"><img src="/static/images/user/login_bao.gif"></div> -->
            <div class="clear"></div>
        </div>
    </div>
﻿</div>